.navbar{
    background-color: black;
    border-radius: 5px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    list-style: none;
    float:left;   
    padding: 10px

    
}
.navbar li a{
    padding: 5px;
    text-decoration: none;
    color : white; 
    margin: 10px  
}